
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Shared style */
    .text-align{
        text-align: center;
    }
    .secondry-bg{
        background-color: #FFF8F3;
    }
    .text-primary{
        color: #FD6E0A;
    }
    .dark-2{
        color: #474747;
    }
    .btn-primary{
        background-color: #FD6E0A;
        color: white;
        padding: 18px 35px;
        font-size: 20px;
        border-radius: 5px;
        border: none;
    }

/* header img styles */
.header{
    background-image: url("../images/developer.png"),url("../images/header_bg.png") ;
    background-position: bottom left,bottom right;
    background-repeat: no-repeat;
}
/* nav ssection styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 30px 0px 200px;
}
.banner-contant{
    width: 580px;
}
.banner-greeting{
    font-weight: 600;
    font-size: 45px;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-discription{
    font-size: 20px;
}
.banner-profile-pic{
    width: 580px;
}
/* main styles */
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
main{
    max-width: 1140px;
    margin: 0px auto;
}
/* about styles */
.about{
    border-radius: 5px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-discription{
    font-size: 800;
}
/* skills styles section */
.skill-container{
    display: flex;
    gap: 24px;
}
.skills{
    background-color: #FFFFFF;
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.section-description{
    /* margin-bottom: 40px; */
    padding: 40px 80px;
}
/* resume styles section */
.section-title{
    font-size: 28px;
    font-weight: 600;
}
.resume-container{
    display: flex;
    gap: 20px;
}
.resume-colunm{
    padding: 20px;
}
.experience-discription{
    color: #757575;
    margin-bottom: 20px;
}
.resume-btn{
    margin-top: 50px;
}
/* footer styles section */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.mini-icon{
    display: flex;
    gap: 20px;
}
.footer-colunm{
    width: 50%;
}
footer input[ type=text],footer input[type=email], footer textarea{
    height: 65px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}